.container {
	position: relative;;
	height: 100%;
}
section.main {
	height: 100%;
	background-color: rgb(27, 188, 155);
	overflow: hidden;
	position: relative;
    padding: 0 10px;
}
.main  path {
	stroke-dasharray: 2000;
	stroke-dashoffset: 2100;
	-webkit-animation: dash 4.3s linear forwards;
	-moz-animation: dash 4.3s linear forwards;
	animation: dash 4.3s linear forwards;
}
.main .main-team-ife {
    position: absolute;
    top: 8%;
    left: 10%;
}
.main .main-team-name {
	height: 400px;
    position: relative;
    top: 44%;
    margin-top: -200px;

}
.main .main-team-word {
	font-size: 25px;
	line-height: 1.5;
	color: #FFFFFF;
	text-align: center;
    position: relative;
    top:40%;

}

/* animation hhere */

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
@-webkit-keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
@-moz-keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}